<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/css/style.css">
    <style>
        a{color:black;} 
        a:link{color:black;}
        a:active{color:black;}
        a:visited{color:black;}
        </style>
        
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi Mercado libre</title>
</head>
<body> 
    <header>
    <img src="/images/logo-mercado-liebre.svg" width="300" alt="imagen">

    <h4>lugar para poner la barra de busqueda</h4>

    <h3>Comprá en cuotas y sin tarjeta de crédito</h3>

    <ul>
        <li><a href=""> ofertas </a></li>
        <li><a href=""> Tiendas Oficiales </a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">ayuda</a></li>     
    </ul>
    <ul>
        <li><a href="">Creá tu cuenta</a></li> 
        <li><a href="">Ingresá</a></li> 
        <li><a href="">Mis compras</a></li> 
    </ul>

<ul>
</header>
<main>
    <img src="/images/img-home-banner.jpg" width="1200" height="300" alt="imagen">

   <h3><li>Sección: Basado en tu última visita</li> </h3> 


   <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="imagen">
<p>
    $6.770
    40% OFF
    Cafetera Moulinex</p> 

    <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="imagen">

<p>
    $230.000
    20% off
    MacBook Pro 2019</p>

    <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="imagen">

<p>
$70.500
10% off
Samsung Galaxy S10</p>

    <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="imagen">

<p>
imagen del SmartTv
$23.200
5% off
SmartTv Samsung 43"</p>



</ul>

<ul>

   <h3><li>Sección de Ofertas</li> </h3> 


   <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="imagen">
<p>
    $6.770
    40% OFF
    Cafetera Moulinex</p> 

    <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="imagen">

<p>
    $230.000
    20% off
    MacBook Pro 2019</p>

    <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="imagen">

<p>
$70.500
10% off
Samsung Galaxy S10</p>

    <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="imagen">

<p>
imagen del SmartTv
$23.200
5% off
SmartTv Samsung 43"</p>



</ul>
</main>
<footer>
<ul>
    <li>
        Pagá con tarjeta o en efectivo
Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</li>
</ul>

<ul>
<li>Envío gratis desde $ 2.500
Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</li>
</ul>
<ul>
<li> Seguridad, de principio a fin
¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</li>
</ul>
<ul>
<li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
</ul>
</ul>

</footer>

</body>

</html>