<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/css/style.css">
    <style>
        a{color:black;} 
        a:link{color:black;}
        a:active{color:black;}
        a:visited{color:black;}
        </style>
        
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi Mercado libre</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body> 
    <header  >
    <img src="/images/logo-mercado-liebre.svg" width="25%" alt="imagen">
    
    <h4>lugar para poner la barra de busqueda</h4>
    <h4><i class="fas fa-search" ></i></h4>
    
    
        
    <i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i> 

    <a><ul>
        <li><a href=""> ofertas </a></li>
        <li><a href=""> Tiendas Oficiales </a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">ayuda</a></li>     
    </ul>
    <ul>
        <li><a href="">Creá tu cuenta</a> <i class="far fa-id-card"></i></li> 
        <li><a href="">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
        <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i></li> 
    </ul>
    </a>
    <div class="amburguesa"  class="burger-menu">
        <i class="fas fa-bars" ></i>
    </div>

    </header>
    <main>
        <ul>
        <img src="/images/img-home-banner.jpg" width="1200" height="300" alt="imagen">

        <h3>Sección: Basado en tu última visita </h3> 


        <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="imagen">
       
        <p>
            <div id="precio">$6.770</div>
             <div id="descuento_descripcion">40% OFF
            Cafetera Moulinex</div></p> 
   
       <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="imagen">
      
       <p>
            <div id="precio">$230.000</div>
            <div id="descuento_descripcion">20% off
            MacBook Pro 2019</div></p>
   
       <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="imagen">
   
        <p>
            <div id="precio">$70.500</div>
            <div id="descuento_descripcion">10% off
            Samsung Galaxy S10</div></p>
   
       <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="imagen">
   
        <p>
             <div id="precio">$23.200</div>
             <div id="descuento_descripcion"> 5% off
            SmartTv Samsung 43"</div></p>
        </ul>

        <ul>

            <h3>Sección de Ofertas </h3> 


        <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="imagen">
        <p>
            <div id="precio">$6.770</div>
            <div id="descuento_descripcion">40% OFF
            Cafetera Moulinex</div></p> 
   
       <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="imagen">
   
        <p>
             <div id="precio">$230.000</div>
             <div id="descuento_descripcion">20% off
            MacBook Pro 2019</div></p>
   
       <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="imagen">
   
        <p>
            <div id="precio">$70.500</div>
            <div id="descuento_descripcion">10% off
            Samsung Galaxy S10</div></p>
   
       <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="imagen">
   
        <p>
            <div id="precio">$23.200</div>
            <div id="descuento_descripcion"> 5% off
            SmartTv Samsung 43"</div></p>
        </ul>
    </main>
<footer>
    
    <section> 
        <article class="fas fa-credit-card"></article>
        <p> Pagá con tarjeta o en efectivo
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        

        <article class="fas fa-gift"></article>
        <p> Envío gratis desde $ 2.500
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        

       <article class="fas fa-user-shield"></article>
        <p> Seguridad, de principio a fin
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
       
       

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   
  

</footer>

</body>

</html>