
body{
    font-size: 12px;
}

h4{
    margin: 15px;
}
h3{
    font-size: 24px;
}


p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: static; 
}

header{
    background-color: #EAC926;
    
}
.centro{
    text-align: center;
    font-size: 30px; 
    background-color: #03264C;
    
    color: white;
    
}
.todoCentro{
text-align: center;
}

#precio{
font-size: 18px;
}

#descuento_descripcion{
    font-size: 16px;
}


/* Amarillo =: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

/* Tamaños Tipográficos

Titulares (Basado en tu última visita/Ofertas): 24px

