*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}
section .banner img{
    width: 100%;
    margin:auto;
}
main{
    width: 90%;
}


p{
    font-size: 12px;
}

div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
    padding: 10px;
}

header .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header nav{
    font-size: 12px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.lipa{
    margin-left: 40%;
    margin-top: 35px;
}

.amburguesa{
        background-color: #1259c3;
        color:white;
        font-size: 30px;
        text-align: center;
        box-sizing: border-box;
        padding: 1%;
        display:inline-block;
        margin-bottom: 10px;
        margin-left: 45%;
        border-radius: 10px;
        }

#precio{
font-size: 18px;
}

#descuento_descripcion{
    font-size: 16px;
}

section{
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;     
    
}

article{
    background: #FFF;
    margin: 10px;
}
main article div{
    
    
    margin-right: 32.5%;
    border-top: solid 1px #ebebeb;
    padding-left: 15px;
    padding-right: 15px;
    
}

span{
color: #1259c3;
font-size: 2em;
margin-bottom: 10px;
}


/* Amarillo =: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */





